<center>
  <div class="container">
    <h1 class="text-underline"> <%= @cocktail.name %> </h1>
    <br></br>
    <div>
      <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
      <br></br>
      <% if @cocktail.doses.empty? %>
      <p class="text-gray">
        No one has added ingredients for <%= @cocktail.name %> yet. Add yours!
      </p>
      <% else %>
      <h3> Ingredients </h2>
        <% end %>
      </div>
  <ul>
    <% @cocktail.doses.each do |d| %>
    <li>
      <i class="fa fa-glass"></i> <strong> <%= d.ingredient.name %> </strong>
      <%= link_to "Delete", dose_path(d), class: "btn btn-danger btn-xs", method: :delete %>
    </li>
    <p><%= d.description %></p>
    <% end %>
  </ul>
  <div>
    <%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-primary", id: "ingredient-add-button"%>
    <%= link_to "Delete this cocktail", cocktail_path, class: "btn btn-danger btn-xs", method: :delete %>
    <br></br>
    <br></br>
    <%= link_to "Return", cocktails_path, class: "btn btn-warning" %>
  </div>
</center>
