<center>
  <div class="container padded">
    <h2 class="text-center">New ingredient for your <%= @cocktail.name %></h2>
        <h3>Share your secret</h3>
        <br></br>
        <br></br>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <%= simple_form_for [@cocktail, @dose] do |f|%>
        <%= f.input :ingredient%>
        <%= f.input :description %>
        <%= f.submit "Add ingredient", class: "btn btn-primary"%>
        <% end %>
        <br></br>
        <div>
          <%= link_to "Go back", cocktails_path, class: "btn btn-warning btn-sm" %>
        </div>
      </div>
    </div>
  </div>
</center>
